#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO
      macro_ver: macro_ver {
        compatible = "zmk,behavior-macro";
        label = "macro_version";
        #binding-cells = <0>;
        bindings = <&kp RET>;
      };
      #endif

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

       mo_sl: mo_sl {
              compatible = "zmk,behavior-hold-tap";
              label = "MO_SL";
              #binding-cells = <2>;
              tapping-term-ms = <200>;
              quick_tap_ms = <175>;
              flavor = "tap-preferred";
              bindings = <&mo>, <&sl>;
          };

          mo_to: mo_to {
              compatible = "zmk,behavior-hold-tap";
              label = "MO_TO";
              #binding-cells = <2>;
              tapping-term-ms = <200>;
              quick_tap_ms = <175>;
              flavor = "tap-preferred";
              bindings = <&mo>, <&to>;
          };

          mo_ctrl_e: mo_ctrl_e {
              compatible = "zmk,behavior-hold-tap";
              label = "MO_CTRL_E";
              #binding-cells = <2>;
              tapping-term-ms = <200>;
              quick_tap_ms = <175>;
              flavor = "tap-preferred";
              bindings = <&mo>, <&macro_ctrl_e>;
          };
    };

  keymap {
    compatible = "zmk,keymap";

           default_layer {
               bindings = <
               &kp GRAVE  &kp LC(LS(NUMBER_1))             &sl 12              &sl 11       &kp TAB  &kp TAB                &kp F12                                                                                                       &mo 5  &kp BACKSPACE             &kp LC(LS(ENTER))              &sl 11             &sl 12  &kp LC(LS(NUMBER_2))       &kp RIGHT_BRACKET
           &kp BACKSLASH                 &kp Q              &kp W               &kp E         &kp R    &kp T                  &to 0                                                                                                       &to 1          &kp Y               &kp U               &kp I              &kp O                 &kp P        &kp LEFT_BRACKET
               &kp MINUS                 &kp A              &kp S               &kp D         &kp F    &kp G                  &none      &kp LC(TAB)         &lt 13 LA(TAB)                          &macro_win_tab        &kp TAB        &none          &kp H               &kp J               &kp K              &kp L              &kp SEMI  &mt LSHFT SINGLE_QUOTE
                   &to 3                 &kp Z              &kp X               &kp C         &kp V    &kp B                                                    &kp LA(TAB)                               &kp LG(D)                                      &kp N               &kp M           &kp COMMA            &kp DOT              &kp FSLH                   &to 2
    &lt 5 LC(LA(LS(F1)))        &lt 7 NUMBER_1  &mt LALT NUMBER_2  &mt LSHFT NUMBER_3  &mt LCTRL N4                     &lt 8 SPACE  &mt LCTRL ENTER  &mt LEFT_GUI NUMBER_5                  &mt RIGHT_GUI NUMBER_6  &mt LCTRL ESC  &lt 8 SPACE                 &mt RCTRL NUMBER_7  &mt RSHFT NUMBER_8  &mt RALT NUMBER_9        &lt 7 NUMBER_0             &lt 5 LG(L)
               >;
           };

           layer_editor {
               bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans                  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                            &trans                  &trans                      &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans                  &trans  &mo_to 9 3  &trans          &trans  &trans  &trans  &trans  &trans
               >;
           };

           layer_dialog {
               bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                                             &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                                             &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans               &trans  &trans                  &trans                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                                         &trans                  &trans                                &trans  &trans  &trans  &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans                    &trans  &macro_dialog_enter  &trans                  &trans  &macro_dialog_escape  &trans          &trans  &trans  &trans  &trans  &trans
               >;
           };

           layer_nav {
               bindings = <
    &kp LC(TILDE)    &kp LA(NUMBER_7)  &macro_shift_to_1  &macro_to_0_to_1   &kp LA(ENTER)        &kp LC(LS(F))                     &trans                                                                  &trans            &trans    &kp LS(F6)  &macro_to_0_to_1  &macro_shift_to_1        &trans  &trans
           &trans       &kp LC(LA(L))          &kp LC(W)     &macro_dollar       &kp RIGHT  &macro_jump_to_char                     &trans                                                                  &trans         &kp LC(D)      &kp LEFT            &kp UP  &kp LC(BACKSPACE)  &kp LC(HOME)  &trans
           &trans            &kp HOME        &kp LC(TAB)       &lt 4 LC(B)   &kp LS(ENTER)    &kp LC(LA(RIGHT))                     &trans       &trans  &trans                  &trans         &trans      &trans  &kp LA(LC(LEFT))  &kp LC(LEFT)          &kp DOWN      &kp LC(RIGHT)       &kp END  &trans
           &trans  &kp LA(LS(INSERT))     &kp LS(DELETE)    &kp LC(INSERT)  &kp LS(INSERT)        &kp LC(LS(U))                                          &trans                  &trans                                &kp LC(LS(Z))     &kp LC(Z)     &kp BACKSPACE      &kp LC(SLASH)   &kp LC(END)  &trans
           &trans              &trans             &trans            &trans          &trans                                 &mo_ctrl_e 10 0  &lt 9 ENTER  &trans                  &trans  &lt 14 ESCAPE  &mo_to 8 1                          &trans            &trans             &trans        &trans  &trans
               >;
           };

           layer_subnav {
               bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                  &trans  &trans                &trans         &trans                 &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                  &trans  &trans          &kp LC(HOME)      &kp LA(I)            &kp LC(END)  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &kp LC(LEFT_BRACKET)  &kp LA(LS(K))  &kp LC(RIGHT_BRACKET)  &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                            &trans                  &trans                  &trans                &trans         &trans                 &trans  &trans  &trans
    &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans                  &trans  &trans  &trans                        &trans         &trans                 &trans  &trans  &trans
               >;
           };

           layer_mod {
               bindings = <
     &bt BT_CLR        &trans  &trans  &trans  &trans  &trans                             &none                                                                  &trans   &none      &trans           &trans       &none    &bl BL_TOG              &bt BT_CLR
     &bl BL_INC         &none   &none   &none   &none   &none                       &bootloader                                                             &bootloader   &none       &none            &none       &none         &none                   &none
     &bl BL_DEC         &none   &none   &none   &none   &none            &rgb_ug RGB_MEFS_CMD 5  &trans  &trans                  &trans  &trans  &rgb_ug RGB_MEFS_CMD 5   &none       &none            &none       &none         &none                   &none
    &bootloader         &none   &none   &none   &none   &none                                            &trans                  &trans                                   &none       &none            &none       &none         &none  &rgb_ug RGB_MEFS_CMD 5
          &none  &bt BT_SEL 0   &none   &none  &trans                                    &trans  &trans  &trans                  &trans  &trans                  &trans          &bl BL_TOG  &rgb_ug RGB_TOG  &bl BL_INC  &bt BT_SEL 1                   &none
               >;
           };

           layer_temp {
               bindings = <
    &trans  &trans     &trans              &trans         &trans  &trans            &trans                                                              &trans              &trans            &trans             &trans  &kp LA(LC(LS(J)))       &trans  &trans
    &trans  &trans  &kp LC(W)  &macro_select_line  &kp LS(LC(W))  &trans            &trans                                                              &trans           &kp LA(J)  &kp LC(LS(LEFT))         &kp LS(UP)  &kp LC(LS(RIGHT))       &trans  &trans
    &trans  &trans  &kp LC(X)           &kp LC(C)      &kp LC(V)  &trans            &trans  &trans  &trans                  &trans  &trans              &trans        &kp LS(HOME)      &kp LS(LEFT)       &kp LS(DOWN)      &kp LS(RIGHT)  &kp LS(END)  &trans
    &trans  &trans     &trans              &trans         &trans  &trans                            &trans                  &trans                              &kp LA(LS(INSERT))    &kp LC(LC(UP))  &kp LC(LA(COMMA))   &kp LC(LC(DOWN))       &trans  &trans
    &trans  &trans     &trans              &trans         &trans                    &trans  &trans  &trans                  &trans  &trans  &macro_shift_enter                                &trans             &trans             &trans       &trans  &trans
               >;
           };

           layer_fn {
               bindings = <
    &kp F1       &kp F2        &kp F3         &trans       &kp F5  &kp F6            &tog 1                                                            &mo 3  &kp F7       &kp F8         &trans       &kp F10       &kp F11  &kp F12
    &trans       &trans        &trans         &trans       &trans  &trans             &none                                                            &none  &trans       &trans        &kp F11       &kp F12        &trans   &trans
    &trans  &hm LGUI F1  &hm LCTRL F2  &hm LSHIFT F3  &hm LALT F4  &kp F5             &none  &trans  &trans                  &sk LGUI    &sk LALT      &none  &kp F6  &hm LALT F7  &hm LSHIFT F8  &hm LCTRL F9  &hm LGUI F10   &trans
    &trans       &trans        &trans         &trans       &trans  &trans                            &trans                    &trans                         &trans       &trans         &trans        &trans        &trans   &trans
    &trans       &trans        &trans         &trans       &trans                    &tog 7   &to 2  &trans                    &trans  &sk LSHIFT  &sk LCTRL               &trans         &trans        &trans        &trans   &trans
               >;
           };

           layer_apps {
               bindings = <
    &kp LA(GRAVE)      &trans  &kp LS(ESCAPE)  &kp LA(ENTER)  &kp K_APP      &trans               &trans                                                                     &trans  &kp LC(LA(N7))     &kp LC(TAB)  &kp LS(LC(ENTER))  &kp LC(LS(LA(T)))         &trans  &trans
           &trans   &kp LC(T)       &macro_p8     &macro_p12  &macro_p7   &macro_p9               &trans                                                                     &trans       &kp LC(S)      &kp DELETE       &kp UP_ARROW      &kp BACKSPACE         &trans  &trans
           &trans  &macro_p10       &macro_p4      &macro_p5  &macro_p6  &macro_p13               &trans         &trans  &trans                  &trans  &kp LC(ESCAPE)      &trans          &trans  &kp LEFT_ARROW     &kp DOWN_ARROW    &kp RIGHT_ARROW        &kp END  &trans
           &trans  &macro_p11       &kp LC(X)      &kp LC(C)  &kp LC(V)   &macro_p0                                      &trans                  &trans                               &kp LC(LA(Z))       &kp LC(Z)             &trans      &kp LC(LS(Z))  &kp LC(SLASH)  &trans
            &none       &none       &macro_p1      &macro_p2  &macro_p3                        &kp ENTER  &kp LC(ENTER)  &trans                  &trans      &kp ESCAPE  &kp LSHIFT                           &none              &none              &none          &none   &none
               >;
           };

           layer_motions {
               bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                              &trans  &kp LC(LA(N7))     &kp LC(TAB)  &kp LS(LC(ENTER))  &kp LC(LS(LA(T)))         &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                              &trans       &kp LC(S)      &kp DELETE       &kp UP_ARROW      &kp BACKSPACE         &trans  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans  &trans  &trans                  &trans  &kp LC(ESCAPE)      &trans          &trans  &kp LEFT_ARROW     &kp DOWN_ARROW    &kp RIGHT_ARROW        &kp END  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                            &trans                  &trans                               &kp LC(LA(Z))       &kp LC(Z)             &trans      &kp LC(LS(Z))  &kp LC(SLASH)  &trans
    &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans                  &trans      &kp ESCAPE  &kp LSHIFT                           &none              &none              &none          &none   &none
               >;
           };

           layer_selection {
               bindings = <
    &kp LA(GRAVE)      &trans  &kp LS(ESCAPE)  &kp LA(ENTER)  &kp LA(ENTER)  &kp LC(LS(F))               &trans                                                                     &trans              &trans          &trans        &trans  &kp LA(LC(LS(J)))       &trans  &trans
           &trans   &kp LC(T)       &macro_p8     &macro_p12      &macro_p7      &macro_p9               &trans                                                                     &trans           &kp LA(J)       &kp LC(W)    &kp LS(UP)  &kp LC(LA(LS(O)))       &trans  &trans
           &trans  &macro_p10       &macro_p4      &macro_p5      &macro_p6     &macro_p13               &trans         &trans  &trans                  &trans  &trans              &trans        &kp LS(HOME)    &kp LS(LEFT)  &kp LS(DOWN)      &kp LS(RIGHT)  &kp LS(END)  &trans
           &trans  &macro_p11       &kp LC(X)      &kp LC(C)      &kp LC(V)      &macro_p0                                      &trans                  &trans                              &kp LA(LS(INSERT))  &kp LC(LC(UP))        &kp F3   &kp LC(LC(DOWN))       &trans  &trans
            &none       &none       &macro_p1      &macro_p2      &macro_p3                           &kp ENTER  &kp LC(ENTER)  &trans                  &trans  &trans  &macro_shift_enter                              &trans        &trans             &trans       &trans  &trans
               >;
           };

           layer_symbols {
               bindings = <
    &trans             &trans          &kp UNDER             &kp MINUS             &trans    &trans               &trans                                                            &trans   &none  &macro_double_amprsand  &macro_not_equal  &macro_triple_equal          &macro_or   &none
    &trans          &kp CARET     &kp LEFT_BRACE      &macro_fat_arrow           &kp EXCL    &trans               &trans                                                            &trans   &none         &kp RIGHT_BRACE           &kp LC(LS(ENTER))     &kp LEFT_BRACKET          &kp GRAVE   &none
    &trans  &kp DOUBLE_QUOTES   &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS   &kp SINGLE_QUOTE    &trans               &trans    &trans  &trans                  &trans       &trans     &trans   &none   &kp RIGHT_PARENTHESIS         &kp EQUAL         &macro_arrow  &kp LC(LS(ENTER))   &none
    &trans           &kp HASH  &kp RIGHT_BRACKET              &kp PIPE  &kp DOUBLE_QUOTES  &kp PLUS                                 &trans                  &trans                          &kp AT       &kp RIGHT_BRACKET          &kp STAR    &macro_array_open      &kp BACKSLASH   &none
    &trans             &trans             &trans                &trans             &trans                      &kp UNDER  &kp STAR  &trans                  &trans  &kp PERCENT  &kp MINUS                          &trans            &trans               &trans             &trans  &trans
               >;
           };

           layer_shift {
               bindings = <
        &kp LS(GRAVE)  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)               &tog 1                                                                         &mo 3  &kp LS(N6)  &kp LS(N7)     &kp LS(N8)   &kp LS(N9)  &kp LS(NUMBER_0)         &kp LS(MINUS)
        &kp LS(MINUS)   &kp LS(Q)   &kp LS(W)   &kp LS(E)   &kp LS(R)   &kp LS(T)                &none                                                                         &none   &kp LS(Y)   &kp LS(U)      &kp LS(I)    &kp LS(O)         &kp LS(P)  &kp LS(LEFT_BRACKET)
    &kp LS(BACKSLASH)   &kp LS(A)   &kp LS(S)   &kp LS(D)   &kp LS(F)   &kp LS(G)                &none      &kp LCTRL  &kp LALT                   &kp LGUI  &kp RCTRL          &none   &kp LS(H)   &kp LS(J)      &kp LS(K)    &kp LS(L)      &kp LS(SEMI)  &kp LS(SINGLE_QUOTE)
            &kp LSHFT   &kp LS(Z)   &kp LS(X)   &kp LS(C)   &kp LS(V)   &kp LS(B)                                      &kp HOME                  &kp PG_UP                             &kp LS(N)   &kp LS(M)  &kp LS(COMMA)  &kp LS(DOT)     &kp LS(SLASH)             &kp RSHFT
                &mo 7   &kp GRAVE    &sk LALT   &sk LCTRL    &sk LGUI                        &kp ENTER  &kp LA(ENTER)  &sk LALT                   &sk LALT      &none  &sk LS(ENTER)                   &sl 7      &sk LCTRL     &sk LALT          &kp RBKT                 &mo 7
               >;
           };

           layer_number_pad {
               bindings = <
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                           &trans  &trans   &kp PERCENT  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans                                                           &trans  &trans  &kp NUMBER_7  &kp NUMBER_8          &kp NUMBER_9              &kp COMMA  &trans
    &trans  &trans  &trans  &trans  &trans  &trans            &trans   &none   &none                   &none  &kp MINUS        &trans  &trans  &kp NUMBER_4  &kp NUMBER_5          &kp NUMBER_6                &kp DOT  &trans
    &trans  &trans  &trans  &trans  &trans  &trans                             &none                   &none                           &trans  &kp NUMBER_1  &kp NUMBER_2          &kp NUMBER_3              &kp SLASH  &trans
    &trans  &trans  &trans  &trans  &trans                     &none   &none   &none                   &none   &kp PLUS  &kp NUMBER_0                &trans        &trans                &trans                 &trans  &trans
               >;
           };

           layer_control {
               bindings = <
        &kp GRAVE  &kp EXCLAMATION   &kp K_APP  &kp LA(ENTER)  &kp LC(LA(LS(T)))  &macro_fat_arrow                   &tog 1                                                                          &mo 3  &kp DOUBLE_QUOTES  &kp LC(LA(N7))         &trans       &trans  &kp LC(LEFT_BRACKET)   &kp LC(RIGHT_BRACKET)
    &kp LC(MINUS)        &kp LC(Q)  &kp LC(F4)  &kp LC(LS(E))          &kp LC(R)         &kp LC(T)                    &none                                                                          &none          &kp LC(Y)       &kp LC(U)      &kp LC(I)    &kp LC(O)             &kp LC(P)       &kp LC(BACKSLASH)
        &kp LSHFT        &kp LC(A)   &kp LC(S)      &kp LC(D)      &macro_ctrl_f         &kp LC(G)                    &none  &kp LS(LC(ESCAPE))  &kp LC(LA(LS(T)))                  &trans  &trans   &none          &kp LC(H)       &kp LC(J)  &macro_ctrl_k    &kp LC(L)     &kp LC(SEMICOLON)  &mt LSHFT SINGLE_QUOTE
        &kp LSHFT        &kp LC(Z)   &kp LC(X)      &kp LC(C)          &kp LC(V)         &kp LC(B)                                                          &trans                  &trans                          &kp LC(N)       &kp LC(M)  &kp LC(COMMA)  &kp LC(DOT)         &kp LC(SLASH)               &kp RSHFT
            &mo 2         &sk LALT   &kp LCTRL     &kp LSHIFT           &sk LGUI                              &kp LC(ENTER)               &to 1             &trans                  &trans  &trans  &trans                              &sl 2      &sk LSHFT    &sk LCTRL              &sk LALT                   &mo 2
               >;
           };
  };
};
